<div class="container">
  <nav class="header-nav">
    <!-- Логотип -->
    <a class="header-logo" href="./index.html">
      <svg class="header-logo-svg" width="109" height="28">
        <use href="./img/header/logo-icon.svg#logo-icon"></use>
      </svg>
      Bookshelf
    </a>

    <!-- Навігація для планшетного вигляду -->
    <nav class="desktop-nav">
      <ul class="menu-ul">
        <li class="menu-li-home">
          <a href="./index.html" class="menu-home active-home">Home</a>
        </li>
        <li class="menu-li-shop">
          <a href="./shopping-list.html" class="menu-shopping-list">
            Shopping List
            <svg class="icon-shop" width="20" height="20">
              <use href="./img/header/shop-bag.svg#shop-bag"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>

    <!-- Перемикач теми -->
    <div class="toggle"></div>

    <button class="header-menu" id="menu">
      <svg class="header-menu-svg" width="28" height="28">
        <use href="./img/header/menu.svg#menu"></use>
      </svg>
    </button>
    <button class="header-menu-close disabled" id="menu-close">
      <svg class="header-menu-close-svg" width="22" height="22">
        <use href="./img/modal/modal-icons.svg#icon-close"></use>
      </svg>
    </button>

    <button class="header-btn" id="sign-up-btn">
      Sign up
      <img class="btn-arrow" src="./img/header/arrow.png" alt="button" />
    </button>
  </nav>
</div>
