<div class="container-header">
    <nav class="header-nav">
        <!-- Логотип -->
        <a class="header-logo" href="#">
            <svg class="header-logo-svg" width="109" height="28">
                <use href="./img/header/logo.svg#logo"></use>
            </svg>
        </a>

        <!-- Перемикач теми -->
        <div class="theme-switch">
            <label class="switch">
                <input type="checkbox" id="toggle" class="theme-switch" />
                <span class="slider"></span>
            </label>
        </div>

        <!-- Навігація для планшетного вигляду -->
        <!-- <nav class="desktop-nav">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Shopping List</a></li>
        </ul> -->

        <button class="header-menu" id="menu">
            <svg class="header-menu-svg" width="28" height="28">
                <use href="./img/header/menu.svg#menu"></use>
            </svg>
        </button>
    </nav>
</div>
