<div class="mobile">
  <div class="mobile-menu">
    <ul class="mob-menu-list">
      <li><a class="mob-menu-link" href="index.html">Home</a></li>
      <li>
        <a class="mob-menu-list-link" href=".html"
          >Shopping List
          <svg class="list-svg" width="20" height="20">
            <use href="./img/symbol.svg#icon-Lock"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <div class="image">
    <img
      class="mob-books-img"
      srcset="./img/books_1x.webp 1x, ./img/books_1x.webp 2x"
      src="./img/books_1x.webp"
      alt="books"
      loading="lazy"
      width="450"
    />
  </div>
</div>
