<div class="shopping-list-wrapper">
  <h1 class="shopping-list-title">Shopping <span>List</span></h1>
  <ul class="shopping-list-saved"></ul>
  <div class="shopping-list-empty is-hidden">
    <p class="shopping-list-empty-message">
      This page is empty, add some books and proceed to order.
    </p>
    <img
      class="shopping-list-empty-img"
      src="./img/shopping list/shopping-list-empty.png"
      alt="pile of books"
    />
  </div>
  <div id="pagination" class="tui-pagination"></div>
</div>
