<div class="supporters">
  <div class="support_title">
    <h2 class="support_heading">Support Ukraine</h2>
    <svg class="support_icon" width="20" height="32">
      <use href="./img/support-ukr/icons.svg#icon-trident"></use>
    </svg>
  </div>
  <div class="swiper">
    <ul class="swiper-wrapper"></ul>
  </div>
  <button class="supporters-btn" aria-label="Scroll down">
    <svg class="supporters-btn-icon" width="20" height="20">
      <use href="./img/support-ukr/icons.svg#icon-arrow-scroll"></use>
    </svg>
  </button>
</div>
