<div class="supporters">
  <div class="support_title">
    <h2 class="support_heading">Support Ukraine</h2>
    <svg class="support_icon" width="20" height="32">
      <use href="./img/support-Ukr/icons.svg#icon-trident"></use>
    </svg>
  </div>
  <div class="swiper">
    <ul class="swiper-wrapper">
      <!-- <div style="margin-bottom: 20px">
        <span class="supporters-number"> 01 </span>
        <a
          href="https://www.savethechildren.net/what-we-do/emergencies/ukraine-crisis"
          title="Save the Children"
          target="_blank"
          rel="noopener noreferrer nofollow"
          aria-label="Link to support fond"
        >
          <img
            src="./img/support-Ukr/save-the-children.png"
            class="supporters_img"
            srcset="
              ./img/support-Ukr/save-the-children.png    1x,
              ./img/support-Ukr/save-the-children@2x.png 2x
            "
            alt="Save the Children logo"
          />
        </a>
      </div>
      <div style="margin-bottom: 20px">
        <span class="supporters-number"> 02 </span>
        <a
          href="https://www.projecthope.org/country/ukraine/"
          title="Project HOPE"
          target="_blank"
          rel="noopener noreferrer nofollow"
          aria-label="Link to support fond"
        >
          <img
            src="./img/support-Ukr/project-hope.png"
            class="supporters_img"
            srcset="
              ./img/support-Ukr/project-hope.png    1x,
              ./img/support-Ukr/project-hope@2x.png 2x
            "
            alt="Project HOPE logo"
          />
        </a>
      </div>
      <div style="margin-bottom: 20px">
        <span class="supporters-number"> 03 </span>
        <a
          href="https://internationalmedicalcorps.org/country/ukraine/"
          title="International Medical Corps"
          target="_blank"
          rel="noopener noreferrer nofollow"
          aria-label="Link to support fond"
        >
          <img
            src="./img/support-Ukr/intern-med-corps.png"
            class="supporters_img"
            srcset="
              ./img/support-Ukr/intern-med-corps.png    1x,
              ./img/support-Ukr/intern-med-corps@2x.png 2x
            "
            alt="International Medical Corps logo"
          />
        </a>
      </div>
      <div style="margin-bottom: 20px">
        <span class="supporters-number"> 04 </span>
        <a
          href="https://www.msf.org/ukraine"
          title="Medicins Sans Frontieres"
          target="_blank"
          rel="noopener noreferrer nofollow"
          aria-label="Link to support fond"
        >
          <img
            src="./img/support-Ukr/medecins-sans.png"
            class="supporters_img"
            srcset="
              ./img/support-Ukr/medecins-sans.png    1x,
              ./img/support-Ukr/medecins-sans@2x.png 2x
            "
            alt="Medicins Sans Frontieres logo"
          />
        </a>
      </div>
      <div style="margin-bottom: 20px">
        <span class="supporters-number"> 05 </span>
        <a
          href="https://www.razomforukraine.org/"
          title="RAZOM"
          target="_blank"
          rel="noopener noreferrer nofollow"
          aria-label="Link to support fond"
        >
          <img
            src="./img/support-Ukr/razom.png"
            class="supporters_img"
            srcset="
              ./img/support-Ukr/razom.png    1x,
              ./img/support-Ukr/razom@2x.png 2x
            "
            alt="RAZOM logo"
          />
        </a>
      </div>
      <div style="margin-bottom: 20px">
        <span class="supporters-number"> 06 </span>
        <a
          href="https://www.actionagainsthunger.org/location/europe/ukraine/"
          title="Action against hunger"
          target="_blank"
          rel="noopener noreferrer nofollow"
          aria-label="Link to support fond"
        >
          <img
            src="./img/support-Ukr/action-against.png"
            class="supporters_img"
            srcset="
              ./img/support-Ukr/action-against.png    1x,
              ./img/support-Ukr/action-against@2x.png 2x
            "
            alt="Action against hunger logo"
          />
        </a>
      </div>
      <div style="margin-bottom: 20px">
        <span class="supporters-number"> 07 </span>
        <a
          href="https://www.wvi.org/emergencies/ukraine"
          title="World vision"
          target="_blank"
          rel="noopener noreferrer nofollow"
          aria-label="Link to support fond"
        >
          <img
            src="./img/support-Ukr/world-vision.png"
            class="supporters_img"
            srcset="
              ./img/support-Ukr/world-vision.png    1x,
              ./img/support-Ukr/world-vision@2x.png 2x
            "
            alt="World vision logo"
          />
        </a>
      </div>
      <div style="margin-bottom: 20px">
        <span class="supporters-number"> 08 </span>
        <a
          href="https://prytulafoundation.org/en"
          title="Serhiy Prytula Charity Foundation"
          target="_blank"
          rel="noopener noreferrer nofollow"
          aria-label="Link to support fond"
        >
          <img
            src="./img/support-Ukr/sergiy-prytula.png"
            class="supporters_img"
            srcset="
              ./img/support-Ukr/sergiy-prytula.png    1x,
              ./img/support-Ukr/sergiy-prytula@2x.png 2x
            "
            alt="Serhiy Prytula Charity Foundation logo"
          />
        </a>
      </div>
      <div style="margin-bottom: 20px">
        <span class="supporters-number"> 09 </span>
        <a
          href="https://u24.gov.ua/uk"
          title="UNITED24"
          target="_blank"
          rel="noopener noreferrer nofollow"
          aria-label="Link to support fond"
        >
          <img
            src="./img/support-Ukr/united24.png"
            class="supporters_img"
            srcset="
              ./img/support-Ukr/united24.png    1x,
              ./img/support-Ukr/united24@2x.png 2x
            "
            alt="UNITED24 logo"
          />
        </a>
      </div> -->
    </ul>
  </div>
  <button class="supporters-btn swiper-button-next" aria-label="Scroll down">
    <svg class="supporters-btn-icon" width="20" height="20">
      <use href="./img/support-Ukr/icons.svg#icon-arrow-scroll"></use>
    </svg>
  </button>
</div>
