<div class="sign-up" id="sign-up">
  <div class="form-box">
    <button class="form-signup-close" type="button">
      <svg class="form-signup-close-svg">
        <use href="./img/modal/modal-icons.svg#icon-close"></use>
      </svg>
    </button>
    <form>
      <input class="input-sing-up" type="text" placeholder="Name" />

      <input
        class="input-sing-up email-input"
        type="email"
        placeholder="Email"
      />

      <input
        class="input-sing-up password-input"
        type="password"
        placeholder="Password"
      />

      <button class="form-signup-btn" type="submit">Sign up</button>

      <div class="signup-links">
        <a class="signup-link" href="#">Sign up</a>
        <a class="signup-link" href="#">Sign in</a>
      </div>
    </form>
  </div>
</div>
