/* ----------------------Перемикач---------------------------- */

/* body {
  transition: all 0.3s ease-in-out;
} */

/* body.dark {
  background-color: #202024;
} */

.toggle {
  position: relative;
  height: 20px;
  width: 40px;
  border-radius: 100px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin-right: 14px;
  margin-left: auto;
}

.toggle::before {
  content: '';
  position: absolute;
  height: 18px;
  width: 18px;
  background: #fff;
  border-radius: 50%;
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
}

.toggle.active::before {
  background-color: #fff;
  left: calc(100% - 19px);
}

/* ---------------------------------------------------------- */

/* .header {

} */

.container-header {
  border: 2px solid black;
  border-radius: 0 0 8px 8px;
  padding: 18px 20px;
  max-width: 375px;
  background-color: #fff;
  margin-bottom: 40px;
}

.header-logo {
  display: inline-block;
  width: 109px;
  height: 28px;
}

.header-menu {
  border: none;
  background-color: white;
  padding: 0;
}

.header-logo-svg {
  width: 100%;
  height: auto;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dark .container-header {
  border: 2px solid white;
  border-radius: 0 0 8px 8px;
  background-color: black;
}

.hidden {
  display: none;
}

.header-btn {
    min-width: 184px;
    height: 48px;
    text-align: left;
    color: #fff;
    cursor: pointer;
    background-color: #4f2ee8;
    border: 1.5px solid #111;
    border-radius: 18px;
    padding-left: 14px;
    padding-top: 12px;
    font-size: 16px;
    font-weight: 700;
    transition: background .25s cubic-bezier(.17,.67,.91,1.61), box-shadow .25s cubic-bezier(.17,.67,.91,1.61);
    position: relative;
    display: none;
  }

.sign-up-svg {
  color: #EAC645;
}

@media screen and (min-width: 768px) {
  .container-header {
    max-width: 768px;
    padding: 22px 32px;
  }

  .header-btn {
    display: block;
  }

  .header-menu {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .container-header {
    max-width: 1440px;
    padding: 22px 24px;
  }
}
