/* ----------------------Перемикач---------------------------- */

/* body {
  transition: all 0.3s ease-in-out;
} */

/* body.dark {
  background-color: #202024;
} */

.toggle {
  position: relative;
  height: 20px;
  width: 40px;
  border-radius: 100px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin-right: 14px;
  margin-left: auto;
}

.toggle::before {
  content: '';
  position: absolute;
  height: 18px;
  width: 18px;
  background: #fff;
  border-radius: 50%;
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
}

.toggle.active::before {
  background-color: #fff;
  left: calc(100% - 19px);
}

.menu-ul {
  display: none;
}

/* .menu-li-home {
} */

/* .menu-li-shop {
} */

.menu-shopping-list {
  margin-right: 4px;
  display: flex;
  align-items: center;
}

.icon-shop {
  margin-left: 8px;
}

.dark .shop-bar {
  stroke: #fff;
}

.dark .icon-shop {
  stroke: #fff;
}

.menu-home,
.menu-shopping-list {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}

.active-home,
.active-shopping-list {
  border-radius: 36px;
  padding: 8px 16px;
  height: 34px;
  background-color: #eac645;
}

/* ---------------------------------------------------------- */

/* .header {
  position: absolute;
top: 0;
left: 0;
right: 0;

} */

.header {
  border: 2px solid black;
  border-radius: 0 0 8px 8px;
  max-width: 100%;
  background-color: #fff;
  margin-bottom: 40px;
  box-sizing: border-box;
  transition: all 0.3s;
  position: relative;
  z-index: 2;
}

.header-logo {
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  font-weight: 600;
  width: 109px;
  padding: 18px 0;
  font-size: 18px;
  letter-spacing: -0.04em;
  display: flex;
  margin-right: 40px;
}

.header-menu {
  border: none;
  background-color: white;
  padding: 0;
  height: 28px;
  transition: all 0.3s ease-in-out;
}

.header-menu.disabled {
  display: none;
}

.header-menu-svg.dark {
  fill: #fff;
  stroke: #fff;
}

.header-menu-close {
  height: 22px;
  padding: 0 6px 0 0;
  background-color: inherit;
  border: none;
  transition: all 0.3s ease-in-out;
}

.header-menu-close.disabled {
  display: none;
}

.header-menu-close-svg {
  stroke: #111;
}

.header-logo-svg {
  width: 100%;
  height: auto;
}

.header.dark {
  background-color: #111111;
  border-color: #fff;
}

.header.dark .header-menu-close-svg {
  stroke: #fff;
}

.dark .header-logo-svg {
  stroke: #fff;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dark .container-header {
  border: 2px solid white;
  border-radius: 0 0 8px 8px;
  background-color: #111111;
}

.dark .header-menu {
  background-color: #111111;
}

.hidden {
  display: none;
}

.header-btn {
  display: none;
}

.btn-arrow {
  margin-right: 14px;
}

/* Sing up */

.sign-up {
  width: 100%;
  height: 100vh;
  background-color: #4f2ee8;
}

.sign-up-svg {
  color: #eac645;
}

.form-box {
  letter-spacing: -0.01em;
  background-color: #f6f6f6;
  border: 2px solid #111;
  border-radius: 18px;
  width: 335px;
  max-height: 85vh;
  margin: 0 15px;
  padding: 40px 20px;
  font-size: 16px;
  line-height: 1.12;
  position: relative;
  overflow-x: auto;
}

.input-sing-up {
  border: 2px solid #111;
  border-radius: 40px;
  align-items: center;
  max-width: 100%;
  height: 50px;
  margin-bottom: 24px;
  padding: 0 24px;
  display: flex;
}

.form-email {
  width: 40px;
  fill: #111;
  position: absolute;
  top: 50%;
  right: 22px;
  transform: translateY(-50%);
}

.form-password {
  width: 40px;
  fill: #111;
  position: absolute;
  top: 50%;
  right: 22px;
  transform: translateY(-50%);
}

/* .sign-up.sign-up-hidden {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transform: scale(1);
} */

@media screen and (min-width: 375px) {
  .container-header {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .container-header {
    max-width: 768px;
    padding: 22px 32px;
    width: 100%;
    max-width: none;
  }

  .header {
    padding: 5px 0;
  }

  .header-menu {
    display: none;
  }

  .header-menu-close {
    display: none;
  }

  .desktop-nav {
    display: block;
  }

  .header-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 184px;
    height: 48px;
    text-align: left;
    color: #4f2ee8;
    cursor: pointer;
    background-color: #fff;
    border: 1.5px solid #4f2ee8;
    border-radius: 18px;
    padding-left: 14px;
    font-size: 14px;
    font-weight: 500;
    transition: background 0.25s cubic-bezier(0.17, 0.67, 0.91, 1.61),
      box-shadow 0.25s cubic-bezier(0.17, 0.67, 0.91, 1.61);
    position: relative;
  }

  .header-btn.dark {
    background-color: #4f2ee8;
    border-color: #fff;
  }

  .header-btn:hover,
  .header-btn:focus {
    transform: scale(1.05);
    color: #ffffff;
    background-color: #4f2ee8;
    transition: all 0.3s ease-out;
  }

  .header-btn.dark:hover,
  .header-btn.dark:focus {
    transform: scale(1.05);
    color: #4f2ee8;
    background-color: #ffffff;
    transition: all 0.3s ease-out;
  }

  .toggle {
    margin-right: 24px;
  }

  .menu-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 4px;
  }
}

@media screen and (min-width: 1440px) {
  .container-header {
    max-width: 1440px;
    padding: 22px 24px;
  }

  .header-logo {
    margin-right: 76px;
  }

  .menu-ul {
    gap: 36px;
  }
}
