.gallery-item {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.02%;
  text-align: left;
  margin-bottom: 24px;
  line-height: 18px;
  color: rgb(79, 46, 232);
}
.link {
  color: rgb(79, 46, 232);
  transition: all 0.5s ease;
}

.all-categories {
  box-sizing: border-box;
  width: 280px;
  height: 228px;
  padding-top: 0;
  overflow-y: auto;
  margin: 0;
  background: inherit;
  margin-bottom: 40px;
}

/* ================================= scrollbar ======================== */
.all-categories::-webkit-scrollbar {
  width: 8px;
}
.all-categories::-webkit-scrollbar-track {
  background: inherit;
}
.all-categories::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background: rgb(224, 224, 224);
  cursor: pointer;
}

/* ========================== dark theme ============================== */
.dark .all-categories::-webkit-scrollbar-thumb {
  border-radius: 12px;

  background: rgb(79, 46, 232, 0.4);
  cursor: pointer;
}

.dark .all-categories-link {
  color: rgb(234, 198, 69);
  text-transform: uppercase;
  font-weight: 700;
  font-style: normal;
}

.dark .active {
  color: rgb(234, 198, 69);
  text-transform: uppercase;
  font-weight: 700;
  font-style: normal;
}

.dark .gallery-item :hover {
  color: rgb(234, 198, 69);
}

.dark #scrollToTopBtn:hover {
  background-color: rgb(234, 198, 69);
}

/* =========================================================================== */

.gallery-item :hover {
  color: rgb(79, 46, 232);
}
.gallery-link {
  color: rgba(17, 17, 17, 0.6);
  transition: all 0.5s ease;
}
.active {
  color: rgb(79, 46, 232);
  text-transform: uppercase;
  font-weight: 700;
  font-style: normal;
}
@media screen and (min-width: 375px) {
  .all-categories {
    width: 335px;
  }
}

@media screen and (min-width: 768px) {
  .all-categories {
    width: 337px;
    height: 472px;
    margin-right: 32px;
    margin-left: 0;
    margin-bottom: 0;
  }
  .all-categories-link {
    color: rgba(17, 17, 17, 0.6);
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: left;
    text-transform: none;
    margin-bottom: 32px;
  }
  .gallery-item {
    font-family: DM Sans;
    letter-spacing: -0.02%;
    margin-bottom: 32px;
    color: rgba(17, 17, 17, 0.6);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
  }
}

@media screen and (min-width: 1440px) {
  .all-categories {
    width: 356px;
    margin-bottom: 86px;
    padding-bottom: 0;
    padding-left: 0;
    margin-right: 20px;
  }
}
.all-categories-link {
  color: rgb(79, 46, 232);
  text-transform: uppercase;
  font-weight: 700;
  font-style: normal;
}
